<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Words</title>
</head>
<body>
<h1>All Words</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Word</th>
        <th>Translation</th>
        <th>DictionaryID</th>
        <th>Complexity</th>
    </tr>
    <tr th:each="word : ${wordList}">
        <td th:text="${word.wordId}">Id</td>
        <td th:text="${word.word}">Word</td>
        <td th:text="${word.translation}">Translation</td>
        <td th:text="${word.dictionary.dictionaryId}">DictionaryID</td>
        <td th:text="${word.complexity}">Complexity</td>
    </tr>
</table>

</body>
</html>